$fontHeadingTitle: 'Hepta Slab';
$fontBody: 'sans-serif';
$backgroundColor: #fff;
$primaryColor: #c59d40;
$primaryColorSub: #333;
$fontColorMain: #333;
$fontSubColor: #fff;
$hoverColor: #c59d40;
$fontHeadingTitleColor: #c59d40;

