@mixin borderStyle($bColor) {
    border: 1px solid $bColor;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

@mixin buttonStyle ($bgColor, $fColor) {
    padding: 0.5rem 1rem;
    background: $bgColor;
    color: $fColor !important;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: $mainSpacing;
    border-radius: 2px;
    border: 1px solid $bgColor;
    cursor: pointer;
    margin: $mainSpacing;
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 991px) {
        @content;
    }
}