@import "../../sass/style.scss";

.confirmation { 

    .hero-img {
        background-image: url(../../assets/images/hero-confirmation.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 400px;
        max-height: 400px;
    }

    .container {
        background-image: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%), linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%), url(../../assets/images/info_background.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        .info-confirm {
    
        p {
            font-family: $fontBody;
            font-size: $fontBodySize;
            margin: 2rem 1rem;
            text-align: center;
            margin: 10px 0;
           
        }

        h3 {
            font-family: $fontBody;
            font-size: $fontBodySize;
            margin: 2rem 2rem;
            text-align: center;
            padding-bottom: 2rem;
        }

        a {
            &:hover {
                color: $hoverColor;
            } 
        } 

        } 
    }
}

@include tablet { 

    h3 {
        padding: 0.2rem;
    }   
}

@include desktop {

    h3 {
        padding: 0 100px;
     }
}

