@import "../../sass/style.scss";

.booking {
    width: 100%;

    .wrapper {
        width: 100%;
        display: grid;
        justify-items: center;

        .container {

            margin: 30px 0;
            max-width: 500px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "guests time"
                "calendar calendar"
                "contacts contacts";
            justify-items: center;

            .guests {
                grid-area: guests;
            }

            .time {
                grid-area: time;
            }

            .calendar {
                grid-area: calendar;
                margin-top: 30px;
                text-align: center;
            }

            .contacts {
                grid-area: contacts;
                margin-top: 30px;

                input {
                    width: 400px;
                    height: 30px;
                    margin-bottom: 10px;
                    max-width: 340px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid black;
                    font-size: 2em;
                }

                input:focus,
                textarea:focus {
                    outline: none;
                }

                select {
                    background-color: transparent;
                }

                label {
                    font-size: 0.8em;
                }

                button {
                    @include buttonStyle($buttonBookting, $fontSubColor);

                    &:hover {
                        @include buttonStyle($buttonBookingHover, $fontSubColor);
                    }
                }
            }


            h3 {
                margin-bottom: 30px;
            }
        }
    }
}