@import "../../sass/style";

.admin {

    .container {
        align-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: fit-content(auto) 1fr 1fr;
        grid-template-areas: "title-container title-container title-container""booking-list-container booking-list-container booking-list-container"". link-container .";
    }

    .title-container {
        grid-area: title-container;
    }

    .booking-list-container {
        grid-area: booking-list-container;
    }

    .link-container {
        grid-area: link-container;
        text-align: center;
    }

    .table-wrapper table {
        border-collapse: collapse;
        text-align: left;
    }

    // To solve a right gap between table and table wrapper
    table {
        width: 101%;
    }

    .table-wrapper {
        background: $backgroundColor;
        overflow: hidden;
        border: 1px solid $subColor;
        -webkit-border-radius: $mainRadius;
        -moz-border-radius: $mainRadius;
        border-radius: $mainRadius;
        width: 100%;
        max-height: 80vh;
        overflow-x: scroll;
        overflow-y: auto;

        td,
        th {
            padding: $mainSpacing $spacingBetweenDiv;
        }

        th {
            background-color: $primaryColorSub;
            color: $fontHeadingTitleColor;
            font-weight: bold;
            border-left: 2px solid lighten($primaryColorSub, 50);
            text-align: center;

            &:first-child {
                border: none;
            }

        }

        td {
            border-left: 1px solid lighten($primaryColorSub, 50);
            font-weight: normal;

            &:first-child {
                border-left: none;
            }
        }

        tr {
            &:nth-child(odd) {
                background: lighten($primaryColorSub, 90);
            }

            &:last-child td {
                border-bottom: none;
            }
        }

        thead th {
            position: sticky;
            top: 0;
        }
    }

    .admin-icon {
        padding: $mainSpacing;
        margin: $mainSpacing;
        vertical-align: middle;
        font-size: 1.5rem;
    }

    .list-center {
        text-align: center;
    }

    button,
    .booking-button {
        @include buttonStyle($buttonBookting, $fontSubColor);

        &:hover {
            @include buttonStyle($buttonBookingHover, $fontSubColor);
        }
    }

    .link-container {
        margin-top: $spacingBetweenDiv;
    }

}