@import "../../sass/style.scss";

.footer {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color:$fontHeadingTitleColor;

.box1 {
    text-align: center;
    margin: 20px 0;

    h2 {
        margin-bottom: 10px;
        font-size: $fontBodySize;
    }

    p {
        color: #fff;
    }

    hr {
        margin-top: 10px; 
    }
}

.box2 {
    margin: 20px 0;
    text-align: center;

    h2 {
        margin-bottom: 10px;
        font-size: $fontBodySize;
    }

    p {
        color: #fff;
    }

    address {
        color: #fff;
    }   
    
    hr {
        margin-top: 10px; 
    }
}

.box3 {
    margin: 20px 0;
    text-align: center;

    h2 {
        margin-bottom: 10px;
        font-size: $fontBodySize;
    }

    p {
        color: #fff;
    }

    address {
        color: #fff;
    
        &:hover {
            color: $hoverColor;
        }
    }   
    
    hr {
        margin-top: 10px; 
    }
}

.box4{
    margin: 20px 0;
    text-align: center;

    h2 {
        margin-bottom: 10px;
        font-size: $fontBodySize;
    }

    p {
        color: #fff;
        
    &:hover {
        color: $hoverColor;
    }
    }

    hr {
        margin-top: 10px; 
    }
}

.box5 {
    color: $subColor;
    font-size: 10px;
    margin-bottom: 60px; 
    margin-top: 50px;   
}
}

@include tablet {

    .footer {
        height: 300px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center; 
        grid-template-rows: 1fr 0.2fr;  
    
    .box1 {
        text-align: left;
        margin: 30px 0;
        
        h2 {
            margin-bottom: 15px;
        }
    }
    .box2 {
        margin: 30px 0;
        text-align: left;  

        h2 {
            margin-bottom: 15px;
        }
    }
    .box3 {
        margin: 30px 0;
        text-align: left;
    
        h2 {
            margin-bottom: 15px;
        }    
    }
    .box4 {
        margin: 30px 0;
        text-align: left;
    
        h4 {
            margin-bottom: 15px;
        }
    }
    .box5 {
        font-size: 15px;
        grid-row: 2 / 3;
        grid-column: span 7;
    }
}
} 

@include desktop {

    .footer {
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
       grid-column: 2 / 6;
       
       .box1 {
           grid-column: 2 / 3;
       }
    }
}
