@import "../../sass/style.scss";

.footer {
    width: 100%;
    background-color: black;
    display: grid;
    justify-content: center;

    .info {
        color: $fontHeadingTitleColor;
        margin: 15px 0;

        .box1 {
            margin: 15px 0;

            h2 {
                font-size: $fontBodySize;
                margin: 10px 0;
            }

            p {
                color: #fff;
            }

            hr {
                margin-top: 10px;
            }
        }

        .box2 {
            margin: 15px 0;

            h2 {
                font-size: $fontBodySize;
                margin: 10px 0;
            }

            address {
                color: #fff;
            }

            hr {
                margin-top: 10px;
            }
        }

        .box3 {
            margin: 15px 0;

            h2 {
                font-size: $fontBodySize;
                margin: 10px 0;
            }


            address {
                color: #fff;

                &:hover {
                    color: $hoverColor;
                }
            }

            hr {
                margin-top: 10px;
            }
        }

        .box4 {
            margin: 15px 0;

            h2 {
                font-size: $fontBodySize;
                margin: 10px 0;
            }

            address {
                color: #fff;

                &:hover {
                    color: $hoverColor;
                }
            }
            
            hr {
                margin-top: 10px;
            }
        }

        .box5 {
            margin-top: 20px;
            text-align: center;
            color: $subColor;
            font-size: 10px;
        }
    }
}

@include tablet {
    
}

@include desktop {
    .footer {

        .info {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "box1 box2 box3 box4"
                "box5 box5 box5 box5";
            padding: 20px 0;
            justify-content: space-between;

            .box1 {
                grid-area: box1;
                margin: 15px;
            }

            .box2 {
                grid-area: box2;
                margin: 15px;
            }

            .box3 {
                grid-area: box3;
                margin: 15px;
            }

            .box4 {
                grid-area: box4;
                margin: 15px;
            }

            .box5 {
                grid-area: box5;
                font-size: 15px;
            }
        }
    }
}